@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

.title{
    font-family: 'Roboto', sans-serif;
    color: crimson;
}

.addressAttribute{
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
}